* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #65cbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  min-width: 900px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  width: 40%;
  /* min-width: 300px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.user {
  margin: 1.5rem 0;
}

.connect h1{
  font-size: 1.5rem !important;
}

.link {
  display: flex;
  margin: 1rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
}

.link h2, .links h2 {
  padding: 0rem 2rem;
}

.link img {
  width: 40px;
  height: 40px;
  border-radius: 0% !important;
}

.youtube {
  display: none;
}

.skills {
  flex: 2;
  width: 60%;
}

.support {
  width: 80%;
  background: linear-gradient(to right top, #65dfc9, #65cbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.support img {
  position: absolute;
  top: -10%;
  right: 10%;
}

.support h2 {
  width: 50%;
  color: white;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover, .logo:hover, .support:hover {
  transform:scale(1.05) ;
}
/* Tech Skills */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  /* min-width: 300px; */
  padding: 0.5rem;
  border-radius: 2rem;
}
.skills {
  width: 60%;
  /* min-width: 400px; */
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.progress,
.progress1 {
  background: linear-gradient(to right top, #65dfc9, #65cbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  display: none;
}

.progress::after,
.progress1::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236);
  position: absolute;
  left: 60%;
}
.progress1::after {
  left: 50% !important;
}

.card-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #65cbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


/* @Media  */

@media (max-width: 915px){
  .glass {
    width: 90%;
    min-width: 400px !important;
  }

  .dashboard {
    max-width: 100px !important;
  }

  .user {
    width: 100px;
  }

  .link-icon {
    width: 40px;
    height: 40px;
  }
  .user-title, .connect, .link-title, .support{
    display: none;
  }

  .youtube {
    display: block;
  }
  
  
}

@media (max-width: 767px) {

  .status>h1 {
    font-size: 1.9rem !important;
  }

  .skills {
    margin: 1.5rem !important;
  }
  .card {
    min-width: 300px;
    padding: 1em;
  }
  .skill-img {
    width: 60px;
    height: 60px;
  }
  
  .card-info>h2{
    font-size: 1.2em;
  }
  .card-info>p{
    font-size: 0.8em;
  }


}

@media (max-width: 480px) {

  .glass {
    min-width: 300px !important;
  }

  .dashboard {
    max-width: 80px !important;
  }

  .user>a>img {
    width: 50px;
    height: 50px;
  }

  /* .link {
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
  } */
  .link-icon {
    width: 35px !important;
    height: 35px !important;
  }
  /* .user-title, .connect, .link-title, .support{
    display: none;
  } */

  .status {
    margin-bottom: 1.5rem;
  }
  .status>h1 {
    font-size: 1.5rem !important;
  }

  .skills {
    margin: 1rem !important;
  }

  .card {
    min-width: 200px;
    padding: 1.5em !important;
    margin: 0.5rem !important;
  }

  .skill-img {
    width: 45px;
    height: 45px;
  }
  
  .card-info>h2{
    font-size: 0.95em;
  }
  .card-info>p{
    font-size: 0.55em;
  }
  .percentage {
    font-size: 0.9em;
  }
}
